.art-main-section{
    background-color: #F5E0A5; 
    height: 400px;
    min-height: fit-content;
    padding-bottom: 40px;
}
.artigo-sect{
    display: flexbox;
    justify-self: center;
    width: 85%;
    min-height: 300px;
    height: fit-content;
    padding-top: 10vh;
    margin-inline: 60px;
    
}


.artigo-sect h1{
    font-size: 46px;
}
.artigo-sect h2{
    font-size: 20px;
}

.artigo-sect hr{
    height: 1px;
    background-color: #474747;
    width: 100%;
    border-radius: 25%;
}

.artigo-container{
    min-height: 120px;
    height: fit-content;
    justify-self: center;
    width: 90%;
    background-color: white;
    margin: 2em;
    border-radius: 1em;
    padding: 2em;
    display: grid;
    padding-bottom: 0em;
    grid-template-columns: 160px auto;
}

.artigo-container div:nth-child(1){
    max-height: 140px;
    min-width: 140px;
    background-position: center;
    background-size: cover;
    width: inherit;
    border-radius: 1em;
}

.artigo-texto{
    padding-left: 2em;
}
.artigo-texto h3{
    color: black;
    font-weight: 500;
    font-size: 26px;
}

.artigo-texto p {
    font-size: 20px;
    margin-top: 2em;
    text-decoration: none;
    color: black;
}

.artigo-texto p > *, .artigo-texto p > *::before{
    color: black;
    text-decoration: none;
    transition: color 0.1s;
}
.artigo-texto p > *:hover {
    text-decoration: none;
    color: #05A269;
}

.artigo-texto p.artigo-texto-inside {
    padding-bottom: 3em;
}

.artigo-btn{
    height: 40px;
    width: 100px;
    font-family: 'chillax';
    font-size: medium;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1.75em;

    padding: 0.2em 1em;
    background-color: #05A269;
    border-radius: 0.25em;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: filter 0.25s;
    box-shadow: -1px 1px 1px rgb(6, 114, 15);
    transform: translate(0px, 0px) scale(1.0);

}

.artigo-btn:hover{
    filter: brightness(120%);
    transition: filter 0.1s;
}

.artigo-btn:focus{
    outline: none;
    transition: transform 0.25s;
    transition: box-shadow 0.1s;
}
.artigo-btn.clicked{
    outline: 1px solid rgb(0, 219, 0);

    transform: translate(3px, -3px) scale(1.05);
    transition: transform 0.25s;

    filter: brightness(130%);
    box-shadow: -3px 3px 2px rgb(11, 148, 22);
    transition: box-shadow 0.01s;
}

