.cont-nav {
    display: flex;
    padding-left: 6%;
    justify-content: flex-end;
}
.btn-green {
    font-size: 12px;
    font-family: 'chillax';
    font-weight: bold;
    padding: 0.5em 2em;
    margin: 0.25em;
    border-radius: 0.8em;
    border: none;
    outline: none;
    color: white;
    background-color: #00AD6E;
    cursor: pointer;
}

.btn-green:hover {
    background-color: #58ffc2;
}
.logo_size {
    height: 100%;
    width: 100%;

}

nav .nav-item{
    color: black;

}
nav .nav-item:hover{
    color: rgb(117, 117, 117);

}
.icon-click{
    margin: 0.5em;
    border-radius: 0.2em;
    padding: 0.3em 0.5em;
    width: 3%;

    color: #14ff14;
    background-color: #00AD6E;
    cursor: pointer;
}

.icon-click:hover{
    background-color: #58ffc2;
    cursor: pointer;
}
.filtro{
    font-size: 12px;
    font-family: 'chillax';
    font-weight: bold;
    padding: 0.5em 2em;
    margin: 0.25em;
    border-radius: 0.8em;
    border: none;
    outline: none;
    color: white;
    background-color: #1C5841;
    cursor: pointer;
}

.filtro:hover {
    background-color: #1b9e6e;
}
.fundo{
    width: 100%;
    height: 900px;
}
.imgx{
    width: 100%;
    -webkit-mask-image: linear-gradient(to left, transparent 10%, black 100%);
}
.baixo{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.botao_logo{
    height: 10%;
    width: 10%;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}