
.container-sb-1{
    display: flexbox;
    grid-template-columns: auto auto;
    min-height: 600px;

    width: 100%; /* or a fixed width */
}
.container-sb-1-col{
    display: flex;
    justify-content: center;
    margin: 60px;
    justify-items: baseline;
}

.container-sb-1-col p{
    font-size: larger;
}

.container-sb-1-row-2{
    display: grid;
    grid-template-rows: auto 280px;

    grid-auto-rows: min-content;
    flex-flow: row;
    flex-wrap: wrap;
}

.container-sb-1-row-2 p{
  font-size: clamp(18px, calc(0.5em + 0.5vw), 24px);
  text-align: justify;
  overflow-wrap: break-word;
}

.btn-sobre {
    font-family: 'chillax';
    font-size: medium;
    font-weight: bold;
    padding: 0.75em 5rem;
    margin: 1.0rem;
    border-radius: 0.4em;
    border: none;
    outline: none;
    color: white;
    background-color: #D46240;
    cursor: pointer;
    transition: background-color 0.1s;
    transform: scale(1, 1);
    transition: transform 0.1s;
}

.btn-sobre:hover {
    background-color: #F8A764;
   transform: scale(1.01, 1.01);
}

.filtro{
    font-size: 12px;
    font-family: 'chillax';
    font-weight: bold;
    padding: 0.5em 2em;
    margin: 0.25em;
    border-radius: 0.8em;
    border: none;
    outline: none;
    color: white;
    background-color: #1C5841;
    cursor: pointer;
}

.filtro:hover {
    background-color: #58ffc2;
}
.grade1{
    background-color: #F5E0A5;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 100px;
}
.imagem1{
    display: flex;
    justify-self: center;
    height: 300px;
    width: 400px;
}

.imagem2{
    display: flex;
    height: 90%;
    width: 100%;
    min-width: 20em;
    object-fit: cover;
    border-radius: 2em;
}


.grade2{
    background-color: #1C5841;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 100px;
    flex-wrap: nowrap;

}

.texto2{
    font-size: 25px;
    color: white;
    padding-right: 20%;
}
.botao_plano{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.estilo_botao{
    font-size: 35px;
    font-family: 'chillax';
    font-weight: bold;
    padding: 0.5em 2em;
    margin: 0.25em;
    border-radius: 0.8em;
    border: none;
    outline: none;
    color: white;
    background-color: #D46240;
    cursor: pointer;

}
.estilo_botao:hover{
    background-color: #F5E0A5;
    cursor: pointer;
    color: black;
}




.atri-sect{
    background-color: #002b0b; 
    height: 100%; 
    width: 100%;
}

.atri-sect-body{
    display: flex; 
    flex-direction: column; 
    padding: 10px; 
    flex-grow: 1; 
    flex-wrap: wrap;}

.atri-sect-body a {
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.atri-sect-body a > *, .atri-sect-body a > *::before{
    color: white;
    text-decoration: none;
    transition: color 0.1s;
}
.atri-sect-body a:hover {
    text-decoration: none;
    color: #05A269;
}